@using MusicStore.Models
@{
    ViewBag.Title = "Albums";


        <h2>@ViewBag.Title</h2>

    foreach (Album a in ViewBag.Albums)
    {
        string s = a.AlbumId + ".jpg";
        <div class="row searchResult">
            <div class="col-md-2">
                <img src="@(s)" />
                <div class="col-md-10">
                    <h2>@(a.Title)</h2>
                    <p>@(a.ArtistId), @(a.Year)</p>
                </div>
            </div>
        </div>
    }
}